*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
}
.body .settings{
    background: #E16C69;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body .settings h1{
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin: 15px 0;
    letter-spacing: 1px;
}
.body .settings .settingsContent{
    width: 100%;
    line-height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body .settings .settingsContent p{
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
}
.body .settings .settingsContent p a:hover{
    color: black;
}
.body .settings .settingsContent #active{
    color: black;
    background: #FF807D;
}
.body .settings .settingsContent p a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.body .helpSupport{
    position: absolute;
    bottom: 10%;
    left: 2%;
}
.body .helpSupport a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 19px;
}

.body .account-information{
    width: 80%;
    height: 100%;
}

.body .account-information .account-information-header{
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center;
}
.body .account-information .account-information-header h1{
    background: #eeeceb;
    font-size: 45px;
    padding: 8px 0;
    border-radius: 50px;
    width: 80%;
    text-align: center;
}